.body /* Petit test */
{
     background-image: url("images/fond.jpeg");
}



.hpage
{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content : space-between;
    background-color:rgba(128, 128, 128, 0.336);
    border-bottom:rgba(128, 128, 128, 0.493) solid 30px;
    height: 150px;

}

.titre_page
{
    color: green;
    font-size : xx-large;
    font-family: 'Glacial indefference', Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-left: 90px;

    }

.hpage_gauche
{
    display: inline-block;
    text-align: center;
    margin-left: 2px;
    padding-left: 2px;
}

.logo
{
    margin-top : 50px;
    margin-left: 5px;
    padding-bottom: 0px;
}

.nom_dom
{
    color: black;
    font-size: small;
    font-family: 'Glacial indefference', Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 0px;
}

.barre_info
{
    color:black;
    font-family: 'Glacial indefference', Helvetica, sans-serif;
    float: right;
    margin-right: 40px;
    margin-top: 35px;
    font-weight: bold;
}

.barre
{
    border-left: 2px solid;
    border-left-color: black;
    padding-left: 10px;
    color: black;
}

.barre a
{
    text-decoration: none;
    color: black;
}

.barre a:hover
{
    color: green;
}



.icones_navigation
{
    display: flex;
    flex-direction: horizontal;
    justify-content : space-between;
    margin-top: 10px;
    color: black;
    font-size : 15px;
    font-family: 'Glacial indefference', Helvetica, sans-serif;
    text-align: center;
}


.page
{
	display: flex;
}



.notification
{
    display: flex;
    justify-content : space-between;
    width: 150px;
}

.corps_notification
{
    background: rgba(128, 128, 128, 0.493);
    height: 500px;
    width: 152px;
    margin-top : 10px;
}

.recherche
{
    margin-top: 10px;
    color: gray;
    font-family: 'Glacial indefference', Helvetica, sans-serif;
    border: white solid;
    background-color: white;
    width: 130px;
    height: 20px;
    margin-left: 7px;
    margin-bottom: 10px;
    padding-top:10px;
    border-radius : 4px;
}

.boutique
{
    color: black;
    font-family: 'Glacial indefference', Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    background-color: gray;
    width: 130px;
    height: 20px;
    text-align: left;
    margin-left: 7px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.boutique a
{
    text-decoration: none;
    color: black;
}

.boutique a:hover
{
    color: green;
}

.noti
{
    color: white;
    font-family: 'Glacial indefference', Helvetica, sans-serif;
    font-weight: bold;
    font-size: small;
    margin-left: 7px;
    margin-bottom: 10px;
}
.notation
{
    text-align: center;
    direction: rtl;
}


.notation  a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition: color .4s;

 }

 .notation  a:hover,
 .notation  a:focus,
 .notation  a:hover ~ a,
 .notation  a:focus ~ a
{
    color: rgba(255, 230, 0, 0.89);
    cursor: pointer;
 }

.alerte
{
    color: black;
    border: gray solid;
    font-family: 'Glacial indefference', Helvetica, sans-serif;
    background-color: gray;
    width: 130px;
    height: 70px;
    text-align: center;
    margin-left: 7px;
    padding-top: 10px;
    border-radius : 4px;
}
.noter
{
    color: white;
    font-family: 'Glacial indefference', Helvetica, sans-serif;
    font-weight: bold;
    font-size: small;
    margin-top: 200px;
    margin-left: 7px;
}






.ppage
{
    background : rgb(56, 55, 55);
    color: white;
    margin-top: 10px;
    font-size: small;
    font-family: 'Glacial indefference', Helvetica, sans-serif;
    height: 140px;
    bottom: 0;
    right: 0;
    left: 0;
}

.centre_haut
{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    height: 120px;
    margin-left: 30px;
    margin-right: 50px;
    border-bottom: white solid 1px;
    padding-left: 5px;
    padding-right: 3px;
}

.col3 a
{
    text-decoration: underline;
    color: white;
}

.col2 a
{
    text-decoration: underline;
    color:white;
}

.col1 a
{
    text-decoration: underline;
    color:white;
}

.titre_ppage
{
    font-weight: bold;
    font-size: 15px;
    text-indent: 40px;
}

.corps_edit
{
	display : flex;
}

.intro
{

	width : 90%;
	margin-top : 10px;

}

.bjr
{
	font-size : 200%;
	text-align : center;

}

.bienvenue
{
	text-align : center;
}

.logis
{
	text-align: left;
	text-decoration: underline;
	text-indent:15px;
	padding-top : 5px;
	color : purple;
	font-size : 120%
}


.ligne
{
	width : 20%;
	text-align : center;
	border : 1px dotted black;
}

.check
{
	display : flex;
	justify-content : space-around;
	padding-left : 5%;
	padding-right : 60%;
	padding-bottom : 20px;

}

.validity
{
	background : black;
	color : green ;
	border : none;
	border-radius: 4px;
	font-size : 100%;

}


.ligne1
{
	width : 20%;
	text-align : center;
	border : 1px dotted black;
}

.pi�ces
{
	text-align: left;
	text-decoration: underline;
	text-indent:15px;
	padding-top : 5px;
	color : purple;
	font-size : 120%
}

.manychoices
{
	display : flex;
	justify-content : space-around;


}

.validity1
{
	background : black;
	color : green ;
	border : none;
	border-radius: 4px;
	font-size : 100%;
	margin-left : 30px;
	margin-top: 15px;
	margin-bottom : 15px;

}

.ligne2
{
	width : 20%;
	text-align : center;
	border : 1px dotted black;
	margin-top : 28px;


}


.test {
  color: red;
}
